<div>
  <nav>
    <button class="accueil" routerLink="/accueil" routerLinkActive="active">Retour à l'accueil</button>
  </nav>
</div>

<h1>Mode Créateur de questions</h1>
<div class="choix1">
  <button class="choixAuto" (click)="choix1Auto()">Créer une question automatique</button>
  <button class="choixMan" (click)="choix1Man()">Créer une question manuellement</button>
</div>
<div class="generator" *ngIf="showgenerator">
  <div class="difficulté">Choississez une difficulté
    <div>
      <input type="radio" (click)="clicAutoDifficulty('EASY')">facile
    </div>
    <div>
      <input type="radio" (click)="clicAutoDifficulty('MEDIUM')">Moyen
    </div>
    <div>
      <input type="radio" (click)="clicAutoDifficulty('HARD')">Difficile
    </div>
  </div>
  <div class="Thème">Choississez un thème
    <div>
      <input type="radio" (click)="clicAutoTheme('TITLE')">question sur un titre
    </div>
    <div>
      <input type="radio" (click)="clicAutoTheme('ACTOR')">question sur un acteur
    </div>
    <div>
      <input type="radio" (click)="clicAutoTheme('CHARACTER')">question sur un personnage
    </div>
  </div>
  <div class="divboutongen">
    <button class="boutongene" (click)="clicGenerate()">Générer</button>
  </div>
</div>
<div class="man">
  <div class="liste" *ngIf="showcreation"> Choisissez un type dans la liste suivante:
    <SELECT class="select">
      <option id="TrueFalse" (click)="requeteCreation('TRUE_FALSE')">Vrai/Faux</option>
      <option id="multiple" (click)="requeteCreation('MULTIPLE')">Choix multiple</option>
      <option id="open" (click)="requeteCreation('OPEN')">Question ouverte</option>
    </SELECT>
  </div>
  <div *ngIf="show">
    <div class="TF" *ngIf=" type === 'TRUE_FALSE'">
      <label class="creationQuestion">Veuillez rédiger votre question ici:
        <input class="questionContent" type="text" [(ngModel)]="creationquest" (ngModelChange)="change()"
               (keydown.enter)="clic()">
      </label>
    </div>
    <div class="open" *ngIf=" type === 'OPEN' ">
      <label class="creationQuestion">Veuillez rédiger votre question ici:
        <input class="questionContent" type="text" [(ngModel)]="creationquest" (ngModelChange)="change()"
               (keydown.enter)="clic()">
      </label>
      <label class="creationReponse">Veuillez rédiger votre réponse ici:
        <input class="reponseContent" type="text">
      </label>
    </div>
    <div class="multiplechoice" *ngIf=" type === 'MULTIPLE'">
      <label class="creationQuestion">Veuillez rédiger votre question ici:
        <input class="questionContent" type="text" [(ngModel)]="creationquest" (ngModelChange)="change()"
               (keydown.enter)="clic()">
      </label>
      <div class="reponseMultiple">
        <label class="labelReponse">Reponse :
          <input class="reponseContent" type="text" [(ngModel)]="creationrep" (ngModelChange)="disabled"
                 (keydown.enter)="clic()">
          <input class="reponseContent" type="text" [(ngModel)]="creationrep2" (ngModelChange)="disabled"
                 (keydown.enter)="clic()">
          <input class="reponseContent" type="text" [(ngModel)]="creationrep3" (ngModelChange)="disabled"
                 (keydown.enter)="clic()">
        </label>

      </div>
    </div>
    <div class="divboutonajouter">
    <button class="valider" (click)="clic()" [disabled]="disabled">Ajouter</button>
    </div>
  </div>
</div>
<!--<div class="img">
  <img src="https://media.giphy.com/media/26FLf3L9bDpYCVO5G/giphy.gif" alt=""/>
</div>-->

