.accueil{
  font-family: 'Modak', cursive;
  background: white;
  color: black;
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
  border: black solid 3px;
  border-radius: 50px;
}
h1{
  font-family: 'Modak', cursive;
  font-size: 60px;
  font-weight: lighter;
  text-align: center;
  color: white;
  background: black;
  border-radius: 50px;
  border: black solid 2px;
  box-shadow: 0px 0px 5px 10px white;
}
.choix1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.choixAuto{
  font-family: 'Modak', cursive;
  background: white;
  color: black;
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
  border: black solid 3px;
  border-radius: 50px;
  margin-bottom: 30px;
}
.choixMan{
  font-family: 'Modak', cursive;
  background: white;
  color: black;
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
  border: black solid 3px;
  border-radius: 50px;
  margin-bottom: 30px;

}
.boutongene{
  font-family: 'Modak', cursive;
  background: white;
  color: black;
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
  border: black solid 3px;
  border-radius: 50px;
}
.divboutongen{
  display: flex;
  justify-content: center;
}
.generator{
  font-family: 'Modak', cursive;
  font-size: 18px;
  font-weight: lighter;
  text-align: justify-all;
  text-shadow: white 0px 0px 15px;
  color: black;

  width: 400px;
  display: flex;
  flex-direction: column;
}
.difficulté{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.select{
  font-family: 'Modak', cursive;
  font-weight: lighter;
  font-size: 16px;
  background: black;
  border-radius: 10%;
  color: white;
  text-align: center;
  width: 200px;
}
.man{
  font-family: 'Modak', cursive;
  font-weight: lighter;
  font-size: 20px;
  text-shadow: 0px 0px 10px white;
  display: flex;
  flex-direction: column;
  margin-left: 800px;
}
.questionContent{
  font-family: 'Modak', cursive;
  text-align: center;
  background: black;
  color: white;
  border-radius: 30px;
  width: 300px;
  height: 25px;
  margin: 5px;
}
.reponseContent{
  font-family: 'Modak', cursive;
  text-align: center;
  background: black;
  color: white;
  border-radius: 30px;
  width: 300px;
  height: 25px;
  margin: 2px;
}
.open{
  display: flex;
  flex-direction: column;
}
.valider{
  font-family: 'Modak', cursive;
  background: white;
  color: black;
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
  border: black solid 3px;
  border-radius: 50px;
}
.divboutonajouter{
  display: flex;
  justify-content: center;
}
.labelReponse{
  display: flex;
  flex-direction: column;
}
