<p class="enonce">  Question {{index+1}} - {{question.displayableText}}</p>
<div class="userAnswer" *ngIf="question.type == 'OPEN'">Votre réponse:
  <input type="text" [(ngModel)]="textAnswer" (ngModelChange)="change()" (keydown.enter)="clic(question.id)">
  <button (click)="clic(question.id)" [disabled]="disabled"> Valider</button>
  <div *ngIf="show">Résultat: {{resultLabel}}</div>
</div>
<div class="userAnswer" *ngIf="question.type == 'TRUEFALSE'">Votre réponse:
  <button (click)="clicTF(question.id, 'VRAI')" [disabled]="disabled2"> VRAI</button>
  <button (click)="clicTF(question.id, 'FAUX')" [disabled]="disabled2">FAUX</button>
  <div *ngIf="show">Résultat: {{resultLabel}}</div>
</div>
<div class="userAnswer" *ngIf="question.type == 'MULTIPLE'">Votre réponse:
  <div *ngFor="let suggest of question.suggestions">
  <button (click)="clicM(question.id, suggest)" [disabled]="disabled2"> {{suggest}}</button>
  </div>
  <div *ngIf="show">Résultat: {{resultLabel}}</div>
</div>

