.enonce{
  text-shadow: 0px 0px 20px #ffffff;
}
.userAnswer{
  border: black solid 3px;
  border-radius: 50px;
  background: white;
  width: 500px;
  margin: 10px auto;
}
button{
  margin: 10px;
  font-family: 'Modak', cursive;
  font-size: 16px;
  font-weight: lighter;
  color: white;
  background: black;
  border-radius: 50px;
  box-shadow: darkred 0px 0px 5px 5px;
}
.input{
  background: darkred;
  color: white;
  border-radius: 50px;
  width: 300px;
  height: 35px;
  font-family: 'Modak', cursive;
  font-weight: lighter;
  font-size: 16px;
  text-align: center;

}
