
<nav class="accueil">
  <button routerLink="/accueil" routerLinkActive="active">Retour à l'accueil</button>
</nav>
<div class="question" *ngFor="let question of questions, let i = index;">
  <app-question [question]="question" [index]="i"></app-question>
</div>
<div>
  <p>Votre score est de:</p>
</div>


