.question{
  font-family: 'Modak', cursive;
  color: black;
  font-size: 30px;

  text-align: center;
}
button{
  font-family: 'Modak', cursive;
  background: white;
  color: black;
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
  border: black solid 3px;
  border-radius: 50px;
}
