button {
  font-family: 'Modak', cursive;
  color: black;
  background: white;
  font-size: 30px;
  font-weight: lighter;
  border: black solid 3px;
  border-radius: 50px;
  }
#delete{
  margin-right: 130px;
  margin-top: 170px;
}
#create{
  margin-left: 130px;
  margin-top: 170px;
}
.choixAdmin{
  margin: 0 auto;

}
