<div class="choixAdmin">
<nav>
  <button id="delete" routerLink="/questions/delete" routerLinkActive="active">Supprimer des questions de la liste</button>
  <button id="create" routerLink="/questions/create" routerLinkActive="active">Ajouter des questions de la liste</button>
</nav>
  </div>
