<div>
  <nav>
    <button class="accueil" routerLink="/accueil" routerLinkActive="active">Retour à l'accueil</button>
  </nav>
</div>

<div class="selectdelete">Veuillez choisir une question à supprimer:
  <SELECT class="list">
    <option
      *ngFor="let question of questions"
      (click)="clic(question.id)">
      ID:{{question.id}} - Enoncé: {{question.displayableText}}</option>
  </SELECT>
</div>
<div class="confirm" *ngIf="show">Êtes-vous sur de vouloir supprimer la question
  <div>
  <button class="boutonconfirm" (click)="confirmer()">Confirmer</button>
  <button class="boutonconfirm" (click)="annuler()">Annuler</button>
</div>

</div>
