.accueil{
  font-family: 'Modak', cursive;
  background: white;
  color: black;
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
  border: black solid 3px;
  border-radius: 50px;
  margin: 5px;
}
.boutonconfirm{
  font-family: 'Modak', cursive;
  background: white;
  color: black;
  font-size: 16px;
  width: 100px;
  margin: 3px;
  font-weight: lighter;
  text-align: center;
  border: black solid 3px;
  border-radius: 50px;
}
.list{
font-family: 'Modak', cursive;
font-weight: lighter;
font-size: 16px;
background: black;
border-radius: 10%;
color: white;
text-align: center;
width: 200px;
}
.selectdelete{
  font-family: 'Modak', cursive;
  font-weight: lighter;
  font-size: 16px;
  color: black;
  text-shadow: white 0px 0px 15px;
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.confirm{
  margin: 0 auto;
  background: black;
  color: white;
  border-radius: 50px;
  width: 500px;
  height: 100px;
  font-family: 'Modak', cursive;
  font-weight: lighter;
  font-size: 16px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;

}
