button{
  font-family: 'Modak', cursive;
  background: white;
  color: black;
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
  border: black solid 3px;
  border-radius: 50px;
  margin-top: 150px;
  margin-left: 30px;
  margin-right: 30px;
  }
.boutonquizzcreator{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
