body{
  background-image: url("ressources/deadpool.gif");
  background-size: cover;
}
.password{
  background: black;
  color: white;
  font-family: 'Modak', cursive;
  margin: 5px auto;
  border-radius: 50px;
  text-align: center;
  width: 250px;
}
button{
  font-family: 'Modak', cursive;
  border: black 2px solid;
  border-radius: 50px;
  background: white;
  color: black;
  }
.play {
  font-size: 80px;
  border: black solid 3px;
  border-radius: 50px;
}
  .divplay{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
  }
  .admin{
    font-size: 30px;
    border: black solid 3px;
    border-radius: 50px;
  }
  .divadmin{
    display: flex;
    margin-top: 375px;
    justify-content: flex-end;
    text-align: center;
  }


