<div class="divplay">
  <nav>
  <button  class="play" routerLink="/quizzCreator" routerLinkActive="active">Jouer !</button>
</nav>
</div>
<div class="password" *ngIf="showpasswd">Entrez votre mot de passe
  <input type = "password" [(ngModel)]="inputpassword" (ngModelChange)="confirmer()"
         (keydown.enter)="confirmer()"/>
  <div>
    <button class="boutonconfirm" routerLink="/admin" routerLinkActive="active" [disabled]="disabled" (click)="confirmer()">Confirmer</button>
    <button class="boutonconfirm" (click)="annuler()">Annuler</button>
  </div>

</div>
<div class="divadmin">
  <nav>
  <button class=admin (click)="password()">Passer en mode administrateur</button>
</nav>
</div>

